*.db
*.db-journal
__pycache__

library/bot/token.0
library/resources/dbltoken.0

library/resources/voters.txt
library/resources/helpers.txt

library/resources/p1.png
library/resources/p2.png
library/resources/duel.png

library/resources/rankp.png
library/resources/rank.png
library/resources/total_lost.0

library/resources/reddit_secret.0

library/cogs/dev.py

library/resources/translations

data/rss_feed.txt